# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!tsconfig.json
!astro.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md

# Ignore image files in src/assets/images
/src/assets/images/**/*.png
/src/assets/images/**/*.jpg
/src/assets/images/**/*.jpeg
/src/assets/images/**/*.gif